.about-me {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.about-me-header {
	text-align: center;
	font-size: 70px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	/* text-shadow: -30px -20px 3px #a0a0a0; */
}

.lotteimg {
	display: flex;
	object-fit: cover;
	position: relative;
	border-radius: 50%;
	width: 470px;
	height: 470px;
	top: 30px;
}

.boxes {
	background: transparent;
	margin-top: 4rem;
	margin-bottom: 5rem;
	width: 500px;
	border-color: #161200;
	padding: 20px 20px 20px;
}

.boxtext {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: rgb(85, 85, 85);
	text-align: justify;
	padding-left: 16px;
	padding-right: 16px;
}

.about-me-div {
	position: relative;
	bottom: 12px;
}

@media (max-width: 860px) {
	.about-me {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.lotteimg {
		margin-right: 0px;
		width: 450px;
		height: 450px;
		right: 0;
		margin-bottom: 50px;
	}
	.boxes {
		width: inherit !important;
		box-sizing: border-box !important;
		padding: 0 10px 10px;
	}
	.text-box-div {
		left: inherit;
		right: inherit;
	}

	.boxtext {
		width: inherit;
	}

	.text-box-div {
		position: relative;
		left: 0;
		top: 0;
	}
}
@media (max-width: 520px) {
	.lotteimg {
		width: 300px !important;
		height: 300px !important;
	}
}

/* CV */

.cv {
	background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
	font-size: 18px;
}

.cv:before {
	content: '';
	background: #54b3d6;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

.cv:hover {
	background-position: 0;
}

.cv:hover::before {
	width: 100%;
}
