.about-me {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.about-me-header {
	text-align: center;
	font-size: 50px;
	/* text-shadow: -30px -20px 3px #a0a0a0; */
}

.lotteimg,
.boxes {
	display: inline-block;
}

.lotteimg {
	display: flex;
	object-fit: cover;
	position: relative;
	border-radius: 50%;
	width: 30rem;
	height: 30rem;
	top: 30px;
}

.boxes {
	background: transparent;
	/* box-shadow: rgb(0, 0, 0) 1px 1px 1rem; */
	padding: 0 4rem 3rem;
	margin-top: 4rem;
	margin-bottom: 5rem;
	width: 30%;
	border-color: #161200;
	height: fit-content;
	/* box-shadow: rgba(63, 119, 160, 0.4) -5px 5px, rgba(63, 119, 160, 0.4) -10px 10px,
		rgba(63, 119, 160, 0.4) -15px 15px, rgba(63, 119, 160, 0.4) -20px 20px,
		rgba(63, 119, 160, 0.4) -25px 25px; */
}

.boxtext {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: rgb(85, 85, 85);
	text-align: justify;
}

.text-box-div {
	position: relative;
	left: 100px;
	top: 50px;
}

.about-me-div {
	position: relative;
	bottom: 52px;
}

@media (max-width: 750px) {
	.about-me {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.lotteimg {
		margin-right: 0px;
		width: 450px;
		height: 450px;
	}
	.boxes {
		width: inherit !important;
		box-sizing: border-box !important;
		padding: 0 10px 10px;
	}
	.text-box-div {
		left: inherit;
		right: inherit;
	}
	.about-me-div {
		width: 90%;
	}
	.boxtext {
		font-size: 13px;
		width: inherit;
	}

	.text-box-div {
		position: relative;
		left: 0;
		top: 0;
	}
}

#yellowtext {
	color: #ecd92f;
}

#orangetext {
	color: #ff8800;
}

#bluetext {
	color: rgb(0, 132, 255);
}

#reacttext {
	color: #00c2cb;
}

/* CV */

.cv {
	background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
	font-size: 18px;
}

.cv:before {
	content: '';
	background: #54b3d6;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

.cv:hover {
	background-position: 0;
}

.cv:hover::before {
	width: 100%;
}
