.quiz-container {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 90px;
}

.quiz-container2 {
	display: flex;
	width: 40%;
	min-height: 30rem;
	padding: 10px 20px 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(226, 226, 226);
	text-align: center;
	border-radius: 2%;
	/* background-image: url('/src/img/quiz-img-2.jpg'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* border: 2px solid; */
	/* border-image: linear-gradient(135deg, rgb(0, 225, 255), rgb(247, 0, 255)) 1; */
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.quiz-container input,
.quiz-container select {
	background-color: #c0c0c0;
	border: none;
	border-radius: 20px;
	padding: 16px;
	font-size: 18px;
	color: inherit;
	font-family: inherit;
	align-items: center;
	flex-direction: column;
	margin: 20px 10px 10px;
	width: 50%;
}

.quiz-container input::placeholder {
	color: #747474;
}

.quiz-container input:first-child {
	flex-grow: 1;
}

.quiz-container span {
	font-weight: 600;
	font-size: 18px;
	margin-right: 18px;
}

.quiz-btn {
	border: none;
	background-image: linear-gradient(135deg, #00eeff, #ff00f2);
	cursor: pointer;
	transition: 0.2s;
	align-items: center;
	height: 50px;
	width: 200px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 20px 20px 20px;
	border-radius: 100px;
}

.quiz-btn:hover {
	transform: scale(110%) rotate(-2deg);
}

.quiz-btn-text {
	color: white;
	padding: 10px 10px 10px;
	font-family: 'Coiny';
	font-size: 20px;
}

.start-btn {
	color: rgb(255, 255, 255);
	font-family: 'Coiny';
	font-size: 30px;
}

.quiz-title {
	font-family: 'Coiny', sans-serif;
	font-size: 35px;
	line-height: 36px;
	color: #414141;
	text-align: inherit;
	font-weight: 400;
	align-items: center;
	margin-top: 30px;
	width: 90%;
}

.quiz-inner-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 30px 2px 30px;
	border: 20px solid;
	border-image: linear-gradient(135deg, rgb(0, 225, 255), rgb(247, 0, 255)) 1;
	margin-left: 5%;
	margin-right: 5%;
}

.quiz-numbers {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 45px;
	line-height: 27px;
	color: rgb(82, 82, 82);
	text-align: center;
	white-space: nowrap;
	align-items: center;
	width: 100%;
	font-weight: 900;
	padding: 40px 10px 10px;
}

form {
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

.quiz-end-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	color: rgb(82, 82, 82);
	text-align: center;
	width: 80%;

	align-items: center;
}

.seconds {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10px;
	color: rgb(82, 82, 82);
	text-align: center;
	align-items: center;
	margin-top: 10px;
}

@media (max-width: 1400px) {
	.quiz-container2 {
		width: 60%;
	}
}

@media (max-width: 900px) {
	.quiz-container2 {
		width: 90%;
	}
}

.score-attempts {
	color: rgb(16, 106, 141);
	padding: 10px 10px 10px;
	font-family: 'Coiny';
	font-size: 20px;
}
