.topnav {
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 5;
	display: inline-block;
	white-space: nowrap;
	scroll-behavior: smooth;
}

.topnav a {
	float: right;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Roboto';
	scroll-behavior: smooth;
}

.topnav a:hover {
	background-color: #b2cacf;
}

.topnav a.active {
	background-color: #94bfcd;
	color: white;
}

.topnav b {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Roboto';
	scroll-behavior: smooth;
}

.logo {
	display: flex;
	object-fit: cover;
	width: 22px;
	height: 22px;
}

.logo:hover {
	background-color: transparent !important;
}
