.con-box {
	width: 100%;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fea02f;
	width: 100%;
	height: 600px;
	margin-top: 40px;
	box-sizing: border-box;
}

.contact-form input,
.contact-form select {
	width: auto;
	background-color: rgb(240, 240, 240);
	border: none;
	/* border-radius: 100px; */
	padding: 16px;
	font-size: 18px;
	color: inherit;
	font-family: inherit;
}

.contact-form input::placeholder {
	color: #696969;
}

.contact-form input:first-child {
	flex-grow: 1;
}

.contact-form input[type='text'] {
	font-family: '' Nunito Sans ', sans-serif;';
	font-size: 16px;
	color: rgb(82, 82, 82);
}

.contact-form span {
	font-weight: 600;
	font-size: 18px;
	margin-right: 18px;
}

.contact-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-family: 'Coiny';
	font-size: 30px;
	padding: 20px 0px 20px;
	background-image: linear-gradient(135deg, #00ffff, #00cfcf, #029c9c, #007a7a);
	color: inherit;
	border-radius: 100px;
	cursor: pointer;
	transition: 0.3s;
	color: rgb(43, 43, 43);
	width: 150px;
	height: 55px;
}

.contact-btn:hover {
	transform: scale(110%) rotate(-2deg);
}

.contact-box-header {
	font-family: 'Playfair Display SC', serif;
	font-size: 40px;
	line-height: 1.77;
	color: rgb(82, 82, 82);
	margin-bottom: -10px;
}

.character-limit {
	text-align: left;
	color: rgb(172, 172, 172);
	font-family: 'Playfair Display SC', serif;
}

.thank-you-box {
	background-color: #ffffff;
	height: 600px;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 16px 16px;
	display: flex;
	align-items: center;
	gap: 16px;
	border-radius: 16px;
	display: flex;
	color: rgb(85, 85, 85);
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.bottom-btn {
	margin-top: 30px;
	width: 140px;
	height: 10px;
}

.thank-you-box-text {
	text-align: left;
	color: rgb(85, 85, 85);
	font-size: 15px;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	width: 20rem;
}

.contact-btn-large {
	font-size: 20px;
}

.contact-form-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: rgb(0, 0, 0);
}

.contact-form-text::placeholder {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	color: rgb(0, 0, 0);
}

.outro-box {
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-top: 40px;
}

.outro-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: rgb(85, 85, 85);
	text-align: center;
	width: 550px;
}
