.about-me {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.about-me-header {
	text-align: center;
	font-size: 50px;
	/* text-shadow: -30px -20px 3px #a0a0a0; */
}

.lotteimg,
.boxes {
	display: inline-block;
}

.lotteimg {
	object-fit: cover;
	border-radius: 50%;
	margin-top: 4rem;
	margin-bottom: 5rem;
	width: 30rem;
	height: 30rem;
}

.boxes {
	background: #ffffff;
	/* box-shadow: rgb(0, 0, 0) 1px 1px 1rem; */
	padding: 0 4rem 3rem;
	margin-top: 4rem;
	margin-bottom: 5rem;
	width: 30%;
	border-color: #161200;
	height: fit-content;
	box-shadow: rgba(63, 119, 160, 0.4) -5px 5px, rgba(63, 119, 160, 0.4) -10px 10px,
		rgba(63, 119, 160, 0.4) -15px 15px, rgba(63, 119, 160, 0.4) -20px 20px,
		rgba(63, 119, 160, 0.4) -25px 25px;
}

.boxtext {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: rgb(85, 85, 85);
	text-align: justify;
}

.text-box-div {
	position: relative;
	left: 100px;
	top: 80px;
}

.about-me-div {
	position: relative;
	bottom: 52px;
}

@media (max-width: 750px) {
	.about-me {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.lotteimg {
		align-items: center;
		width: 300px;
		height: 300px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.boxes {
		width: inherit !important;
		box-sizing: border-box !important;
		padding: 0 10px 10px;
	}
	.text-box-div {
		left: inherit;
		right: inherit;
	}
	.about-me-div {
		width: 100%;
	}
	.boxtext {
		font-size: 13px;
		width: inherit;
	}

	.text-box-div {
		position: relative;
		left: 0;
		top: 0;
	}
}

#yellowtext {
	color: #ecd92f;
}

#orangetext {
	color: #ff8800;
}

#bluetext {
	color: rgb(0, 132, 255);
}

#reacttext {
	color: #00c2cb;
}
