* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* USED TO CHECK YOUR CSS!  */
/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
} */

/* .defaultbackground {
	--defaultColor: linear-gradient(55deg, #010e46 0%, #00011d 51%, #000000 85%);
} */

body {
	background-color: #f1eded;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
}

#root {
	min-height: 2000px;
	margin: 0 auto;
}
